In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Set the random seed for reproducibility
np.random.seed(123)

এটি random number যেন প্রতি বার একই থাকে, সেই জন্য ব্যবহার করা হয়।
মানে— কোডটি যতবারই চালাও, র‍্যান্ডম ভ্যালুগুলো একই থাকবে। এটাকে বলে reproducibility।

In [4]:
# Create a dataframe with two classes
n_samples = 1000
## এখানে বলা হচ্ছে মোট ১০০০টি ডেটা স্যাম্পল তৈরি করা হবে।
class_0_ratio = 0.9
##এটি বোঝায়—

##৯০% ডেটা class 0 হবে

## বাকি ১০% ডেটা class 1 হবে

In [5]:
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [6]:
n_class_0,n_class_1

(900, 100)

In [ ]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 =pd.DataFrame({

    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[0]*n_class_1
})

np.random.normal(loc=0, scale=1, size=n_class_0)

এটি Normal Distribution থেকে র‍্যান্ডম সংখ্যা তৈরি করে

loc=0 → mean = 0

scale=1 → standard deviation = 1

size=n_class_0 → ক্লাস 0 এর মোট নমুনা সংখ্যা (যেমন 900)

'feature_1' ও 'feature_2' — দুটি ফিচার তৈরি করা হয়েছে।

'target': [0] * n_class_0

সকল target মান 0,অর্থাৎ সব ডেটা class 0 এর।

In [8]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

pd.concat([class_0, class_1])

এটি class_0 এবং class_1—এই দুইটি DataFrame একসাথে জোড়া লাগায় (row-wise stack করে)।

মানে:

আগে class_0 এর সব row

তারপর class_1 এর সব row
একত্রে করে একটি বড় DataFrame বানায়।

In [11]:
df.head(5)

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [10]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [13]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [14]:
## Upsampling 
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [18]:
from sklearn .utils import resample
##ডেটা ব্যালেন্সিং বা মডেল ট্রেনিং-এর জন্য)। এই ক্ষেত্রে resample ফাংশন ব্যবহার করা হয়।

In [19]:
df_minority_upsampling = resample(
    df_minority,          # মিনরিটি ক্লাসের ডেটাসেট
    replace=True,         # ডুপ্লিকেট রেকর্ড তৈরি করা
    n_samples=len(df_majority),  # মেজরিটি ক্লাসের সাইজের সমান নমুনা
    random_state=42       # র্যান্ডম নমুনার পুনরাবৃত্তি নিশ্চিত করা
)

In [20]:
df_minority_upsampling.shape

(900, 3)

In [21]:
df_minority_upsampling.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [24]:
df_upsampled=pd.concat([df_majority,df_minority_upsampling])

[df_majority, df_minority_upsampling]:

এখানে দুটি ডেটাফ্রেম পাস করা হচ্ছে। প্রথমটি হলো df_majority, যা মেজরিটি ক্লাসের ডেটা ধারণ করে, এবং দ্বিতীয়টি হলো df_minority_upsampling, যা মিনরিটি ক্লাসের আপস্যাম্পলড (resampled) ডেটা ধারণ করে।

আপনি মিনরিটি ক্লাসের সাইজ মেজরিটি ক্লাসের সাইজের সমান করেছেন, যা পূর্বের resample ফাংশন ব্যবহার করে হয়েছিল।

In [25]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

 ## Down Sampling

In [26]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [27]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [30]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=True, #Sample With replacement
         n_samples=len(df_minority),
         random_state=42
        )

In [31]:
df_majority_downsampled.shape

(100, 3)

In [32]:
df_downsampled=pd.concat([df_majority,df_majority_downsampled])

In [36]:
df_downsampled['target'].value_counts()

target
0    1000
Name: count, dtype: int64

Downsampling এবং upsampling দুটি পদ্ধতি ডেটা ইমব্যালেন্স (data imbalance) সমস্যার সমাধান করার জন্য ব্যবহৃত হয়, যেখানে আপনার ডেটাসেটে একটি শ্রেণির (class) সংখ্যা অন্য শ্রেণির তুলনায় অনেক বেশি বা অনেক কম থাকে। সাধারণত, এই সমস্যাটি ক্লাসিফিকেশন মডেলগুলোতে দেখা যায়, যেমন: একজন শ্রেণি ৯৫% ডেটা এবং অন্য শ্রেণি ৫% ডেটা ধারণ করে। এই ধরনের imbalance মডেলের পারফরম্যান্সে নেতিবাচক প্রভাব ফেলতে পারে। তবে, এগুলোর মধ্যে ব্যবহারের পার্থক্য আছে।

1. Upsampling (অথবা Over-sampling):

Upsampling হলো একটি পদ্ধতি যেখানে কম সংখ্যক শ্রেণির ডেটাকে পুনরায় ডুপ্লিকেট করে তার সংখ্যা বাড়ানো হয়। এর মানে হলো, মিনরিটি ক্লাসের রেকর্ডগুলো পুনরায় তৈরি করা হয় (যেমন: bootstrap sampling) যাতে মিনরিটি ক্লাসের সংখ্যা মেজরিটি ক্লাসের সমান হয়ে যায়।

কখন ব্যবহার করবেন:

যখন আপনার ডেটাসেট অসামান্য (imbalanced), অর্থাৎ একটি ক্লাসের ডেটা খুব কম (যেমন: ৫% মিনরিটি ক্লাস এবং ৯৫% মেজরিটি ক্লাস)।

যদি আপনি minoritiy class এর সংখ্যা বাড়াতে চান যাতে আপনার মডেল উভয় ক্লাসের জন্য ভালো পারফর্ম করে।

Class imbalance সমস্যার সমাধান করতে যখন আপনার কাছে কম ডেটা থাকে এবং আপনি অন্য কোনভাবে ডেটা সংযোজন করতে চান।

উদাহরণ:

ধরা যাক, একটি মেডিক্যাল ডেটাসেটের মধ্যে ক্যান্সার রোগীর সংখ্যা খুব কম (১০%) এবং স্বাভাবিক রোগীর সংখ্যা বেশি (৯০%)। এই ক্ষেত্রে, আপনি upsampling ব্যবহার করতে পারেন মিনরিটি ক্লাসের (ক্যান্সার রোগী) সংখ্যা বাড়ানোর জন্য, যাতে মডেল উভয় শ্রেণির জন্য সমানভাবে ট্রেনিং পায়।

2. Downsampling (অথবা Under-sampling):

Downsampling হলো একটি পদ্ধতি যেখানে বেশি সংখ্যক শ্রেণির ডেটাকে কমানো হয়, অর্থাৎ মেজরিটি ক্লাসের কিছু রেকর্ড মুছে ফেলা হয়, যাতে উভয় শ্রেণির সংখ্যা সমান হয়।

কখন ব্যবহার করবেন:

যখন আপনার ডেটাসেট অসামান্য (imbalanced), এবং মেজরিটি ক্লাসের সংখ্যা অনেক বেশি (যেমন: ৯৫% মেজরিটি ক্লাস এবং ৫% মিনরিটি ক্লাস)।

যদি আপনি মেজরিটি ক্লাসের কিছু রেকর্ড মুছে ফেলতে চান যাতে শ্রেণির মধ্যে ভারসাম্য আনা যায় এবং মডেল ট্রেনিং-এর সময় খুব বেশি বias না হয়।

Data redundancy বা overfitting এড়ানোর জন্য, কারণ মেজরিটি ক্লাসের অধিক রেকর্ড মডেলকে একপেশে করে ফেলতে পারে।

উদাহরণ:

ধরা যাক, একটি ডেটাসেটে স্বাভাবিক রোগীদের সংখ্যা অনেক বেশি (৯৫%) এবং ক্যান্সার রোগীর সংখ্যা খুব কম (৫%)। এই ক্ষেত্রে, আপনি downsampling ব্যবহার করতে পারেন, যেখানে মেজরিটি ক্লাস (স্বাভাবিক রোগী) থেকে কিছু নমুনা বাদ দেওয়া হবে, যাতে মডেল উভয় শ্রেণি নিয়ে সমানভাবে ট্রেনিং করতে পারে।